In [2]:
import pandas as pd

In [89]:
df = pd.read_csv('C:\stockx.csv')
print(df)

      Order Date   Brand                                   Sneaker Name  \
0         9/1/17   Yeezy           Adidas-Yeezy-Boost-350-Low-V2-Beluga
1         9/1/17   Yeezy    Adidas-Yeezy-Boost-350-V2-Core-Black-Copper
2         9/1/17   Yeezy     Adidas-Yeezy-Boost-350-V2-Core-Black-Green
3         9/1/17   Yeezy       Adidas-Yeezy-Boost-350-V2-Core-Black-Red
4         9/1/17   Yeezy  Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017
...          ...     ...                                            ...
99951    2/13/19   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99952    2/13/19   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99953    2/13/19   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99954    2/13/19   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99955    2/13/19   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective

      Sale Price Retail Price Release Date  Shoe Size  Buyer Region
0         $1,097         $220      9/24/16       11.0    California
1           $685         $220     11/23/16       11.0    California
2           $690         $220     11/23/16       11.0    California
3         $1,075         $220     11/23/16       11.5      Kentucky
4           $828         $220      2/11/17       11.0  Rhode Island
...          ...          ...          ...        ...           ...
99951       $565         $220     12/26/18        8.0        Oregon
99952       $598         $220     12/26/18        8.5    California
99953       $605         $220     12/26/18        5.5      New York
99954       $650         $220     12/26/18       11.0    California
99955       $640         $220     12/26/18       11.5         Texas

[99956 rows x 8 columns]

In [36]:
order_date = df['Order Date']
brand = df['Brand']
sneaker_name = df['Sneaker Name']
sale_price = df['Sale Price']
retail_price = df['Retail Price']
release_date = df['Release Date']
shoe_size = df['Shoe Size']
buyer_region = df['Buyer Region']

In [90]:
sale_price_int = df['Sale Price'].str[1:]
print(sale_price_int)

0        1,097
1          685
2          690
3        1,075
4          828
         ...
99951      565
99952      598
99953      605
99954      650
99955      640
Name: Sale Price, Length: 99956, dtype: object

In [94]:
sale_price_point = sale_price_int.str.replace(',','')
sale_price_int2 = sale_price_point.astype(int)
print(sale_price_int2)

0        1097
1         685
2         690
3        1075
4         828
         ...
99951     565
99952     598
99953     605
99954     650
99955     640
Name: Sale Price, Length: 99956, dtype: int32

In [96]:
print(sale_price_int2.mean())

446.63471927648163

In [95]:
print(sale_price_int2.max())

4050

In [97]:
print(sale_price_int2.min())

186

In [101]:
print(type(buyer_region))

<class 'pandas.core.series.Series'>

In [111]:
count_buyer = buyer_region.value_counts()
print(count_buyer.head(3))
print(count_buyer.tail(3))

California    19349
New York      16525
Oregon         7681
Name: Buyer Region, dtype: int64
South Dakota    55
Montana         49
Wyoming         40
Name: Buyer Region, dtype: int64

In [113]:
count_brand = brand.value_counts()
print(count_brand)

 Yeezy       72162
Off-White    27794
Name: Brand, dtype: int64

In [115]:
count_sneaker = sneaker_name.value_counts()
print(count_sneaker.head(3))
print(count_sneaker.tail(3))

adidas-Yeezy-Boost-350-V2-Butter         11423
Adidas-Yeezy-Boost-350-V2-Beluga-2pt0    10395
Adidas-Yeezy-Boost-350-V2-Zebra          10110
Name: Sneaker Name, dtype: int64
Adidas-Yeezy-Boost-350-Low-Oxford-Tan                70
Adidas-Yeezy-Boost-350-Low-Turtledove                68
Nike-Air-Force-1-Low-Virgil-Abloh-Off-White-AF100    31
Name: Sneaker Name, dtype: int64

In [117]:
print(shoe_size.max())
print(shoe_size.min())

17.0
3.5

In [121]:
print(len(sale_price))

99956

In [123]:
count_size = shoe_size.value_counts()
print(count_size.head(3))
print(count_size.tail(3))

10.0    11093
9.0      9706
11.0     9251
Name: Shoe Size, dtype: int64
16.0    79
17.0     4
3.5      4
Name: Shoe Size, dtype: int64

In [124]:
print(type(count_size))

<class 'pandas.core.series.Series'>

In [127]:
print(sale_price_int2.sum())

44643820